<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartDAO">

	<!-- cart 추가(회원가입) -->
	<insert id="insertCart">
		<![CDATA[
			insert into cart values (#{id})
		]]>
	</insert>
	
	<!-- 카트item 추가 -->
	<insert id="addCart">
		<![CDATA[
			INSERT 	INTO cartItem (ci_color, ci_size, ci_number, id, product_id) 
			VALUES 	(#{ci_color}, #{ci_size}, #{ci_number}, #{id}, #{product_id}) 
			
		]]>
	</insert>
	
	
	<!-- 카트 목록 -->
	<select id="getCartList" resultType="com.daily.www.cart.dto.CartDTO">
		<![CDATA[
			SELECT	*
			FROM	cartItem a 
					inner JOIN product b
					ON a.product_id 
					 = b.product_id
			where  a.id = #{id};				  	
		]]>
	</select> 
	
	<!-- 카트 확인 -->
	<select id="checkCart" resultType="com.daily.www.cart.dto.CartDTO">
		<![CDATA[
			SELECT 	*
			FROM	cartItem
			WHERE	id 			= #{id}
			AND		prodcut_id	= #{product_id}
		]]>
	</select> 
	
	<!-- 카트 수량 수정 -->
	<update id="modifyCount">
		<![CDATA[
			UPDATE	cartItem
			SET		ci_number 	= #{ci_number}
			WHERE	cartItem_id = #{cartItem_id}
		]]>
	</update> 
	
		<!-- 카트 삭제 -->
	<delete id="deleteCart">
		<![CDATA[
			DELETE	
			FROM	cartItem
			WHERE	cartItem_id = #{cartItem_id}
		]]>
	</delete> 
	
	<!-- 주문/결제 페이지 이동시 구매할 상품 정보(카트아이템) 정보 -->
	<select id="getSelectedCartItem" resultType="com.daily.www.cart.dto.CartDTO">
        	select *
	        from cartItem i, product p
	        where i.product_id = p.product_id and i.cartitem_id in
	        <foreach collection="list" item="item" open="(" close=")" separator=",">
 				#{item.cartItem_id}
			</foreach>
	        group by i.cartitem_id;
	</select>
	
</mapper>