<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberDAO">

	<!-- 회원가입 처리 -->
	<insert id="addMember" parameterType="member">
		<![CDATA[
			INSERT INTO MEMBER (id, password, name, birthday, phone, email, nickname, joinDate)
			VALUES (#{id}, #{password}, #{name}, #{birthday}, #{phone}, #{email}, #{nickname}, SYSDATE())
		]]>
	</insert>
	
	<!-- 아이디 중복 검사 : 입력한 아이디가 존재하는지 알아낸다. -->
	<select id="idCheck" parameterType="member" resultType="int">
		<![CDATA[
		SELECT	COUNT(*)
		FROM	MEMBER
		WHERE	id = #{id}
		]]>
	</select>

	<!-- 전체 member 목록 -->
	<select id="allSelect" resultType="member">
		<![CDATA[
			select *
			from member
		]]>
	</select>

	<!-- id로 찾기, 1명의 member 검색 -->	
	<select id="getMember" resultType="member">
		<![CDATA[
			select *
			from member
			where id = #{id}
		]]>
	</select>
	
	<update id="updatePoint">
		<![CDATA[
			UPDATE 	member
			SET		point = point - #{usePoint}
			WHERE	id = #{id}
		]]>
	</update>

</mapper>