<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OrdersItemDAO">

	<select id="creatId" resultType="int">
		<![CDATA[
			select ifnull(max(ordersitem_id), -1) + 1
			from ordersitem 
		]]>
	</select>

	<!-- 주문상품 등록 -->
	<insert id="insertOrdersItem">
		<![CDATA[
			insert into ordersItem (ordersItem_id, oi_number, oi_color, oi_size, orders_id, product_id)
			values (#{ordersItem_id}, #{oi_number}, #{oi_color}, #{oi_size}, #{orders_id}, #{product_id})
		]]>
	</insert>
</mapper>