<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OrdersDAO">

	<!-- 주문 테이블 채우기 -->
	<insert id="payment" parameterType="orders">
		<![CDATA[
			INSERT INTO orders (usePoint, o_comment, o_enroll, o_state, deliverCost, addressee, address, o_phone, id) 
			SELECT 4000, #{o_comment}, NOW(), "배송준비", 0, #{addressee}, #{address}, #{o_phone}, #{id} 
		]]>
	</insert>
	<!-- orders usePoint = p_price들의 합 deliverCost = 0으로 설정 -->
	<!-- ordersitem (주문상품정보) 테이블 채우기 -->
	
	<!-- 주문내역 총 개수(회원에 대한)-->
	<select id="listTotalOrders" resultType="int">
		<![CDATA[
			select count(*)
			from product p, orders o, ordersitem oi
			where o.orders_id = oi.orders_id and oi.product_id = p.product_id and o.id = #{id}
		]]>
	</select>

	<!-- 주문내역 조회 - 특정 회원이 해당하는(로그인한, 페이징) -->
	<select id="listPagingOrders" resultType="com.daily.www.orders.dto.OrdersDTO">
		<![CDATA[
			select *
			from (
				select p.*, o.*, oi.ordersItem_id, oi_number, oi_color, oi_size, ROW_NUMBER() OVER(ORDER BY o.o_enroll, o.orders_id DESC) as rNUM
				from product p, orders o, ordersitem oi
				where o.orders_id = oi.orders_id and oi.product_id = p.product_id and o.id = #{id}
				) odr
			WHERE odr.rNUM BETWEEN #{perPageNum}*(#{page}-1) + 1 AND #{perPageNum}*(#{page}-1)+${perPageNum} 
			ORDER BY rNUM desc
		]]>
	</select>

	<!-- 주문내역 조회 - 특정 회원이 해당하는(로그인한) -->
	<select id="listOrders" resultType="com.daily.www.orders.dto.OrdersDTO">
		<![CDATA[
			select *
			from product p, orders o, ordersitem oi
			where o.orders_id = oi.orders_id and oi.product_id = p.product_id and o.id = #{id}
			order by o.o_enroll, o.orders_id desc
		]]>
	</select>
</mapper>