<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="ProductDAO">
	<!-- 상품 아이디 생성 -->
	<select id="createId" resultType="int">
		<![CDATA[
			select ifnull(max(product_id), 0) + 1
			from product
		]]>
	</select>
	
	<!-- 상품 등록 -->
	<insert id="insertProduct" parameterType="com.daily.www.product.dto.ProductDTO">
		<![CDATA[
			insert into product (product_id, p_name, p_explanation, p_price, p_enroll, p_sell, category_id)
			values (#{product_id}, #{p_name}, #{p_explanation}, #{p_price}, now(), 0, 
			(
				select coalesce(c_id) 
				from category 
				where c_name = #{c_name} 
		]]>
			<include refid="category_id"/>
		<![CDATA[
			));
		]]>

	</insert>
	
	<sql id="category_id">
		<if test="c_detail != null">
			and c_detail = #{c_detail}
		</if>
	</sql>
	
	<!-- 메인 - New -->
	<select id="main" resultType="com.daily.www.product.dto.ProductDTO">
		<![CDATA[
			select *
			from (
				select *
				from product
				order by p_enroll, product_id desc limit 5
            ) se1
            union all
			select *
			from (
				select *
				from product
				order by p_sell, p_enroll, product_id desc limit 20
            ) se2;
		]]>
	</select>
	
 	<!-- 상품 번호에 해당하는 상품 정보 가겨오기 -->
	<select id="detatil" parameterType="int" resultType="product">
		<![CDATA[
		SELECT	*
		FROM	product
		WHERE	1 = 1 AND product_id = #{product_id}
		]]>
	</select>
	
	
	<!-- 상품수 -->
	<select id="listTotalCount" parameterType="criteria" resultType="integer">
		<![CDATA[
			SELECT COUNT(*) 
			FROM product JOIN category 
			ON product.category_id = category.c_id 
			WHERE 1 = 1 
		]]>
		<include refid = "pathName"/>
		<include refid = "pathDetail"/>
	</select>
	
	<!-- 상품목록 불러오기 (페이징) -->
	<select id="listPaging" resultType="product">
		<![CDATA[
			SELECT product_id, p_name, p_explanation, p_price, p_enroll, p_sell, brd.category_id
			FROM (
				SELECT	product_id, p_name, p_explanation, p_price, p_enroll, p_sell, category_id, 
		]]>
		<include refid = "listMySQL"/>
		<![CDATA[
				FROM product JOIN category
				on product.category_id = category.c_id
				WHERE 1 = 1
		]]>
		<include refid = "pathName"/>
		<include refid = "pathDetail"/>
		<![CDATA[
				) brd
			WHERE brd.rNUM BETWEEN #{perPageNum}*(#{page}-1) + 1 AND #{perPageNum}*(#{page}-1)+${perPageNum} 
			ORDER BY rNUM
		]]>
	</select>
	
	<!-- list 파라미터에서 공통으로 사용하는 부분 -->
	<sql id="listMySQL">
		<if test="list == null">
			ROW_NUMBER() OVER(ORDER BY product_id DESC) as rNUM 
		</if>
		<if test="list != null">
			<if test="list == 'popular'.toString()">
				ROW_NUMBER() OVER(ORDER BY p_sell DESC) as rNUM 
			</if>
			<if test="list == 'high'.toString()">
				ROW_NUMBER() OVER(ORDER BY p_price DESC) as rNUM 
			</if>
			<if test="list == 'low'.toString()">
				ROW_NUMBER() OVER(ORDER BY p_price) as rNUM 
			</if>
			<if test="list == 'new'.toString()">
				ROW_NUMBER() OVER(ORDER BY product_id DESC) as rNUM 
			</if>
		</if>
	</sql>
	
	
	
	<!-- name이 공통된 애들 -->
	<sql id="pathName">
		<if test="name == 'new'.toString()">
			AND c_name = "New" 
		</if>
		<if test="name == '남녀공용'.toString()">
			AND c_name = "남녀공용"
		</if>
		<if test="name == '남성'.toString()">
			AND c_name = "남성" 
		</if>
		<if test="name == '여성'.toString()">
			AND c_name = "여성"  
		</if>
	</sql>
	
	<sql id="pathDetail">
		<if test="detail == 'outer'.toString()">
			AND c_detail = "아우터" 
		</if>
		<if test="detail == 'top'.toString()">
			AND c_detail = "상의" 
		</if>
		<if test="detail == 'bottom'.toString()">
			AND c_detail = "바지" 
		</if>
	</sql>
	
</mapper>