<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="SizeDAO">
	
	<insert id="insertSize">
		<![CDATA[
			insert into size (size, s_stock, color_id)
			values (#{size}, #{s_stock}, #{color_id})
		]]>
	</insert>
	
	<!-- product_id 가져오기 -->
	<select id="getProductId" resultType="Integer">
		<![CDATA[
			SELECT	product_id
			FROM	product
		]]>
	</select>
	
	<!-- color_id 가져오기 -->
	<select id="getColorId" resultType="Integer">
		<![CDATA[
			SELECT	color_id
			FROM	color
			WHERE	product_id = #{product_id}
		]]>
	</select>
	
	<select id="getSize" resultType="String">
		<![CDATA[
			SELECT	size
			FROM	size 
			WHERE	color_id = #{color_id}
		]]>
	</select>

</mapper>