<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="SizeDAO">
	
	<insert id="insertSize">
		<![CDATA[
			insert into size (size, s_stock, color_id)
			values (#{size}, #{s_stock}, #{color_id})
		]]>
	</insert>
	
	<select id="getListSize" resultType="size">	
		select s.* 
		from size s, color c
		where s.color_id = c.color_id and s.color_id in
		<foreach collection="list" item="colorVO" open="(" close=")" separator=",">
				#{colorVO.color_id}
		</foreach>
	</select>

</mapper>